---
import DesktopNav from "../components/DesktopNav.astro";
import MobileNav from "../components/MobileNav.astro";
import "../global/styles.css";
import About from "../layout/About.astro";
import Blobs from "../layout/Blobs.astro";
import Hero from "../layout/Hero.astro";
import Plans from "../layout/Plans.astro";
import Statistics from "../layout/Statistics.astro";
import Wrapper from "../templates/Wrapper.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-slate-800 text-neutral-50">
			<Wrapper>
				<MobileNav/>
				<DesktopNav/>
			</Wrapper>
		</div>
		<div class="bg-slate-900 text-neutral-50 min-h-screen overflow-hidden">
			<!-- <Blobs/> -->
			<Wrapper>
				<Hero/>
				<Statistics/>
				<Plans/>
				<About/>
			</Wrapper>
		</div>
	</body>
	<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
</html>
