---
import DesktopNav from "../components/DesktopNav.astro";
import MobileNav from "../components/MobileNav.astro";
import "../global/styles.css";
import Wrapper from "../layout/Wrapper.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-slate-800 text-neutral-50">
			<Wrapper>
				<MobileNav/>
				<DesktopNav/>
			</Wrapper>
		</div>
		<div class="bg-slate-900 text-neutral-50 min-h-screen overflow-hidden">
			<Wrapper>
				<div class="py-12 grid grid-cols-1 gap-8 lg:grid-cols-2">
					<div class="flex flex-col gap-3 items-start justify-center sm:items-center sm:gap-4 lg:items-start">
						<h2 class="text-naranja uppercase">641 days online</h2>
						<h1 class="text-4xl font-semibold sm:text-center lg:text-start">Reliable Investments <br> from 1,5% per Day</h1>
						<p class="text-lg max-w-[500px] sm:text-center lg:text-start">
							Forex , stocks and cryptocurrency trading.
							No hidden fees and commissions
						</p>
						<button class="bg-gradient-to-r from-naranja to-rosa text-xl px-4 py-2 rounded-full">
							Get Started
						</button>
					</div>
					<div class="relative">
						<img class="w-full max-w-[500px] sm:mx-auto lg:max-w-[600px]" src="images/hero_ad.png" alt="person illustration">
						<div class="bg-gradient-to-t from-slate-900 to-[30%] absolute inset-0"></div>
					</div>
				</div>
			</Wrapper>
		</div>
	</body>
	<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
</html>
