<header class="hidden lg:block">
    <nav class="py-4 flex items-center justify-between">
        <h1 class="text-3xl font-medium">Numonu</h1>
        <ul class="flex items-center gap-4 text-xl overflow-hidden">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">News</a>
            </li>
            <li>
                <a href="#">Rating</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <button class="bg-gradient-to-r from-naranja to-rosa px-4 py-2 rounded-full">
                    Get Started
                </button>
            </li>
        </ul>
    </nav>
</header>