<section class="pt-12 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:pt-28">
    <div class="flex items-start flex-col gap-4 pt-16 sm:items-center lg:items-start">
		<h2 class="text-important">about</h2>
		<h1 class="text-title">The Best Company</h1>
		<p class="text-lg opacity-75 max-w-[600px] sm:text-center lg:text-start">
			Eliminate all indirect links between advertisers and publishers by applying smart contracts for all types of tracking
		</p>
        <div>
            <button
                class="bg-gradient-to-r from-naranja to-rosa text-xl px-4 py-2 rounded-full"
            >
                Get Started
            </button>
            <button>

            </button>
        </div>
	</div>
    <div class="flex items-center">
        <video class="w-full max-w-[600px] mx-auto" src="videos/motion.mp4" controls></video>
    </div>
</section>